* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: rgb(27, 27, 27);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8674c5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.heading,
.footer {
  text-align: center;
  color: white;
}

.heading > h1 {
  letter-spacing: 5px;
  padding-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.content-container {
  background-color: #2c2b2b;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 15px;
  box-shadow: 1px 1px 10px white;
}

.display-container {
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
}

.display {
  background: #3d3d3d;
  height: 60px;
  width: 280px;
  border-radius: 10px;
}

.display-text {
  margin: 10px;
  color: #988ac9;
  font-size: 1.5em;
  float: right;
}

.buttons-container {
  display: grid;
  height: 330px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 9px;
}

.buttons-container button:last-child {
  width: 90%;
  grid-column: span 2;
}

.button {
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  padding: 15px;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  border: none;
  transition: 0.2s;
  background-color: #505050;
}

.operator {
  background-color: #988ac9;
}
.button:hover {
  box-shadow: 1px 1px 5px white;
}

#equal:hover {
  background-color: green;
}
